<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
      <h1>Join the {{ .Site.Title }} community</h1>

      <p>
        {{ .Site.Title }}
        is an open source project that anyone in the community can use, improve, and enjoy.
        We'd love you to join us!
        Here's a few ways to find out what's happening and get involved.
      </p>
    </span>
	</div>
</section>

<section class="row td-box td-box--gradient td-box--height-auto linkbox">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>Learn and Connect</h2>		
    <p>Using or want to use {{ .Site.Title }}? Find out more here:
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h2>Develop and Contribute</h2>
    <p>If you want to get more involved by contributing to {{ .Site.Title }}, join us here:
    <p>You can find out how to contribute to these docs in our <a href="/docs/contribution-guidelines/">Contribution Guidelines</a>.
  </div>
</section>

