<script type="text/javascript">
  {{ if .Site.IsMultiLingual }}
      var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
      var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
  let menuCurr = "{{ partial "menu-curr.html" . }}"
  let currItems = menuCurr.split('|').map(element => element.trim()).filter(e =>  e);;
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{{ $JS := slice
  ( resources.Get "js/pv.js" | minify )
  ( resources.Get "lib/jquery.min.js" )
  ( resources.Get "lib/popper.min.js" )
  ( resources.Get "lib/bootstrap.min.js" )
  ( resources.Get "plugins/lunr.min.js" )
  ( resources.Get "plugins/auto-complete.js" | minify )
  ( resources.Get "plugins/search.js" | minify )
  ( resources.Get "plugins/clipboard.js" | minify )
  ( resources.Get "js/clipboard.js" | minify )
  ( resources.Get "js/header-links.js" | minify )
  ( resources.Get "js/toc.js" | minify )
  ( resources.Get "js/tocc.js" | minify )
  | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" }}

<script type="text/javascript" src="{{ $JS.RelPermalink }}" integrity="{{ $JS.Data.Integrity }}"></script>
